.bg-navbar-color {
    background-color: #7952B3
}

.icon-style {
    color: white;
}

.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #1c0333
}

.link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    color: white;

}

a:hover {
    color: #1c0333;
}

.navbar-light .navbar-toggler {
    border-color: rgb(253, 251, 251);
}